.switch-button{
    /* background-color: white; */
    border: none;
    border-radius:2vh;
    height: 5vh;
    font-size: 2vh;
    font-weight: 500;
    color: #f35b04;
    /* padding: 1em; */
    /* opacity: 0.9; */
    margin-top:1.5vh;
    margin-bottom: 1.5vh;
    width: 8vh;
    background-color: #ffffff;
}

#switch-button1{
    margin-right: -1.5vh;
    padding-left: 1vh;
    padding-top: 1vh;
}

#switch-button2{
    padding-right: 1vh;
    padding-top: 1vh;
    margin-left: -1.5vh;
}
#button-container{
    max-width: 50px;
    padding: 2em;
}
#switch-label{
    color: #f35b04;
    font-size: 1.5em;
    font-weight: 500;
}
/* #keyboard-button:active{

} */